*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.form{
    width: 100%;
    /* height: 100vh; */
    /* background-color: white; */
   /* color: black; */
}
.formContainer{
    margin: 10px;
    padding: 10px;
    width: 40vw;
    background: radial-gradient(1091px at 106.5% 111.5%, rgb(250, 246, 213) 0.1%, rgb(218, 147, 93) 42.2%, rgb(137, 86, 67) 74.3%, rgb(67, 39, 39) 100.2%);    

}

.flex{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
span{
    color: red;
}
.flex > input{
    /* color: black; */
    width: 200px;
    padding: 3px;
    border-radius: 5px;
    
}
.btn{
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gender > input{
    margin: 20px;
}

